@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="/Profiles">Profiles</a>
    <a href="/Workspaces">Workspaces</a>
    <a href="/Perms">Perms</a>
    <a href="/Roles">Roles</a>
    <a href="/RolePerms">RolePerms</a>
    <a href="/WorkspaceProfiles">WorkspaceProfiles</a>
</div>
